/** CSS STYLESHEET**/

.style-none {
    list-style-type: none;
}

.opacity-3 {
    opacity: 0.4;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
}

.pointer, .pointer * {
    cursor: pointer;
}